.auth-body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/E-LIB_HOME_PAGE.webp');
  background-size: cover; 
  background-position: center;
  background-color: rgb(8, 33, 15);
  overflow: hidden;

}

.grains-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90; 
  opacity: 0.3;
  background-image: url('/GRAINS.webp'); 
  background-size: cover; 
  mix-blend-mode: lighten; 
}

.auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 55vh;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  z-index: 100; 
}

.auth-container:hover .auth-body {
  background-color: rgb(117, 117, 248);
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 0.8;
  background-color: rgb(255, 255, 255);
}

.logo-part {
  flex: 1; 
  display: flex;
  margin-bottom: 0;
  align-items: center;
  padding-top: 45px;
}

.logo-image {
  width: 250px; height: 240px;
  align-items: center;
}

.form-part {
  flex: 3; 
  align-items: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  align-self: center;
  overflow: visible;
}

.left-side input {
  padding: 14px 16px;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 6px;
  background-color: #dedede;
}

.left-side h1 {
  font-size: 2em;
  color: #4E7133;
  text-align: center;
} 

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.left-side p {
  margin-top: 40px; /* 16px originally */ 
  margin-bottom: 4px;
  color: #4E7133;
}

.login_icon {
  width: 90px; 
  max-width: 100%;
  height: auto;
  stroke: #d7dd31;
  cursor: pointer;
}

.auth-container button {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 12px;
  margin-bottom: 10px;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Poppins';
  border: 1px solid #4E7133;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: black;
  z-index: 1;;
}

.auth-container button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: #4E7133;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.auth-container button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #4E7133;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.auth-container button:hover { /* ansakit na ng likod ko */
  color: #ffffff;
  border: 1px solid #4E7133;
}

.auth-container button:hover:before {
  top: -35%;
  background-color: #4E7133;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.auth-container button:hover:after {
  top: -45%;
  background-color: #4E7133;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.department-selection,
.role-selection,
.program-selection {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.msg-div {
  width: 300px;
}

.msg-div .error-msg {
  font-size: 0.9rem;
  color: rgb(246, 53, 53);
  margin: 0;
}


/* VerificationCodeInput.css */

.verification-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.verification-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verification-container button:hover {
  background-color: #0056b3;
}

.checkbox-wrapper-51 {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}


.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #47a86f;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154,153,153,0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #2d3950;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

/* meow */

.auth-body.dark-mode {
  background-image: url('/E-LIB_HOME_PAGE_Dark_Mode.webp');
}

.auth-container.dark-mode {
  box-shadow: 0px 5px 100px rgba(11, 206, 255, 0.1);
}

.grains-overlay.dark-mode {
  opacity: 0.2;
}

.left-side.dark-mode {
  background-color: #181c24;
}




.buttons.dark-mode {
  background-color: #444; 
  color: #fff; 
}


@media (max-width: 700px) {
  .auth-container {
    flex-direction: column;
  }

  .right-side,
  .left-side {
    width: 100%;
  }

  .right-side h2 {
    font-size: 1.8rem;
  }
  
  .right-side a {
    margin-top: auto;
  }

  .auth-container button,
  .auth-container a {
    margin-top: 15px;
  }
}


@media screen and (max-width: 1366px) { /* 768 */
  .create-account {
    padding-bottom: 70px;
  }
  .logo-image {
    width: 235px; height: 235px;
  }
  .login_icon {
    width: 80px; height: 80px;
  }
  .left-side h1 {
    font-size: 1.5em;
  }
  .left-side input {
    font-size: 1.2em;
    margin: 4px;
    padding: 10px 12px; 
  }
  .left-side p {
    font-size: 0.8em;
  }
  .auth-container button {
    width: 150px; height: 35px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1280px) { /* 1023 */
  .create-account {
    padding-bottom: 165px;
  }
  .logo-image {
    width: 230px; height: 230px;
  }
  .login_icon {
    width: 100px; height: 100px;
  }
  .left-side h1 {
    font-size: 1.7em;
  }
  .left-side p {
    font-size: 1em;
  }
  .left-side input {
    font-size: 1em;
  }
  .auth-container button {
    width: 230px; height: 40px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1260px) {
  .auth-body {
    background-image: url('/E-LIB_HOME_PAGE2Z.webp');
} 
   .auth-body.dark-mode {
    background-image: url('/E-LIB_HOME_PAGE_Dark_ModeZ.webp');
   }
}

@media screen and (max-width: 1152px) { /* 870 */
  .create-account {
    padding-bottom: 50px;
  }
  .logo-image {
    width: 230px; height: 230px;
  }

}

@media screen and (max-width: 1024px) { /* 768 */
  .create-account {
    padding-bottom: 55px;
  }
  .logo-image {
    width: 220px; height: 220px;
  }
  .login_icon {
    width: 60px; height: 60px;
  }
  .left-side h1 {
    font-size: 1.5em;
  }
  .left-side input {
    font-size: 1.3em;
  }
  .left-side p {
    font-size: 0.8em;
  }
  .auth-container button {
    font-size: 0.8em;
    width: 150px; height: 35px;
  }
}

@media screen and (max-width: 800px) { /* 600 */
  .create-account {
    padding-bottom: 45px;
  }
  .logo-image {
    width: 180px; height: 180px;
  }
  .login_icon {
    width: 60px;
    height: 60px;
  }
  .left-side input {
    font-size: 1em;
  }
  .left-side p {
    font-size: 0.8em;
  }
  .left-side h1 {
    font-size: 1.3em;
  }
  .auth-container button {
    width: 150px; height: 35px;
    font-size: 0.8em;
  }

}

@media screen and (max-width: 640px) { /* 480 */
  .create-account {
    padding-bottom: 40px;
  }
  .logo-image {
    width: 130px; height: 130px;
  }
  .login_icon {
    width: 40px; height: 40px;
  }
  .left-side h2 {
    font-size: 0.9em;
  }
  .left-side input {
    overflow: visible;
    font-size: 0.6em;
    margin: 3px;
  }
  .left-side p {
    font-size: 0.6em;
    margin: 0px;
    padding-top: 10px;
  }
  .auth-container button {
    width: 120px; height: 30px;
    font-size: 0.6em;
    margin-top: 0;
  }
} 