.courses-div {
  height: 100vh;
  min-width: 100%;
  font-family: 'Lexend';
}

.courses-div header {
  display: flex;
  flex-direction: row;
  height: 130px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #4E7133;
  min-width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.courses-div header:hover{
  background-color: #0C359E;
}

header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
}

main {
  max-height: 600px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  padding-bottom: 30px;
}

header h1 {
  font-size: 1.7rem;
  margin-left: 2vh;
}

ion-icon {
  font-size: 25px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

ion-icon:hover{
  transform: scale(1.3);
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
}

.course-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 165px;
  width: 400px;
  border: none;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin: 20px;
}

.course-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.course-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5vh;
}