/* Profile Section CSS */

.profile-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  background-color: #ffff;
  color: #3c5c24;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.profile-section.dark-mode {
  background-color: #181c24;
  color: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.user-details.dark-mode {
  background-color: black;
  color: white;
}

.user-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2px;
}

.user-greeting {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2px;
}

.user-email {
  font-size: 1rem;
  padding: 5px;
  margin: 3px;
  font-weight: 700;
}

.user-role {
  font-size: 1.3rem;
  margin: 4px;
}

.user-department {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.user-department p {
  color: #4e7133ad;
  margin: 5px;
}

.separator-underline {
  border-top: 4px solid #17171754; 
  margin-bottom: 15px; 
  width: 95%;
  margin-top: 20px;
}

.hide-profile-section {
  position: absolute;
  top: 1%;
  left: 92%;
  z-index: 0;
  background-color: #4E7133;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-pic-form button,
.change-pic-btn {
  padding: 10px;
  background-color: #4E7133;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.user-content-section {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  justify-self: flex-start;
}

.user-content-section h2 {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-weight: 800;
  font-size: 1.1rem;
}

.user-content-section h2:hover {
  background-color: rgb(183, 162, 162);
}

.log-out-section {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.log-out-section a {
  margin-bottom: 16px;
  cursor: pointer;
}

.log-out-section a:hover {
  text-decoration: underline;
}

.upload-pic-form button,
.change-pic-btn,
.log-out-section button,
.hide-profile-section {
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.upload-pic-form button:hover,
.change-pic-btn:hover,
.log-out-section button:hover,
.hide-profile-section:hover {
  background-color: #0C359E;
}

.upload-pic-form button:focus,
.change-pic-btn:focus,
.log-out-section button:focus,
.hide-profile-section:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.upload-btn-choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.log-out-section button {
  padding: 10px;
  background-color: #4E7133;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-profile-section {
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-icon {
  position: absolute;
  top: 1%;
  left: 0.5%;
  z-index: 10;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2px;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 1100px) {
  .profile-section {
    width: 100%;
  }

  .log-out-section {
    margin-top: 50px;
  }
}

@media screen and (max-width: 780px) {
  .user-pic {
    width: 100px;
    height: 100px;
  }
  
  .user-greeting {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  
  .user-email {
    font-size: 0.7rem;
    padding: 5px;
    margin: 3px;
    font-weight: 700;
  }
  
  .user-role {
    font-size: 1rem;
    margin: 4px;
  }

  .user-department {
    font-size: 0.8rem;
  }
  
  .user-department p {
    font-size: 0.8rem;
  }

  .user-content-section h2 {
    font-size: 0.8rem;
  }
  .upload-pic-form button,
  .change-pic-btn,
  .log-out-section button,
  .hide-profile-section {
    padding: 6px; 
    font-size: 0.6rem; 
  }
  .log-out-section {
    margin-top: 80px;
  }
  .log-out-section a {
    font-size: 0.8rem;
  }
}

/* BUTTTTOONNN */

.checkbox-wrapper-51 {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}


.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #47a86f;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154,153,153,0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #2d3950;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

.separator-underline.dark-mode {
  border-top: 4px solid #fff; 
  margin-bottom: 15px; 
  width: 95%;
  margin-top: 20px;
}


@media screen and (max-width: 664px) {
  .user-icon {
    width: 40px;
    height: 40px;
  }  
}

@media screen and (max-width: 576px) {
  .user-icon {
    width: 32px;
    height: 32px;
  }  
}

@media screen and (max-width: 500px) {
  .user-icon {
    width: 30px;
    height: 30px;
  }  
}