/* Profile Section CSS */

.profile-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  background-color: #ffff;
  color: #3c5c24;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.user-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2px;
}

.user-greeting {
  font-weight: 700;
  font-size: 1.5rem;
}

.user-email {
  font-size: 1.1rem;
  padding: 5px;
  margin: 3px;
  font-weight: 700;
}

.user-role {
  font-size: 1.3rem;
  margin: 4px;
}

.user-department {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.user-department p {
  color: #4e7133ad;
  margin: 5px;
}

.separator-underline {
  border-top: 4px solid #17171754; 
  margin-bottom: 15px; 
  width: 95%;
  margin-top: 20px;
}

.hide-profile-section {
  position: absolute;
  top: 1%;
  left: 92%;
  z-index: 0;
  background-color: #4E7133;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-pic-form button,
.change-pic-btn {
  padding: 10px;
  background-color: #4E7133;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.user-content-section {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-self: flex-start;
}

.user-content-section h2 {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-weight: 800;
  font-size: 1.2rem;
}

.user-content-section h2:hover {
  background-color: rgb(183, 162, 162);
}

.log-out-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.log-out-section a {
  margin-bottom: 16px;
  cursor: pointer;
}

.log-out-section a:hover {
  text-decoration: underline;
}

.upload-pic-form button,
.change-pic-btn,
.log-out-section button,
.hide-profile-section {
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.upload-pic-form button:hover,
.change-pic-btn:hover,
.log-out-section button:hover,
.hide-profile-section:hover {
  background-color: #0C359E;
}

.upload-pic-form button:focus,
.change-pic-btn:focus,
.log-out-section button:focus,
.hide-profile-section:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.upload-btn-choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.log-out-section button {
  padding: 10px;
  background-color: #4E7133;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-profile-section {
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-icon {
  position: absolute;
  top: 1%;
  left: 0.5%;
  z-index: 10;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2px;
}
