.home-container {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  background-image: url("/HOME_PAGE_BG.png");
  background-size: cover; 
}

.introduction-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4E7133;
  height: 230px;
  margin: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.introduction-section:hover {
  background-color: #0C359E;
}

.welcome-greetings {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.introduction-section h1 {
  font-weight: 900;
  margin: 0;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Library Section CSS */

.library-section {
  max-height: 100vh;
  position: relative; 
  overflow-y: auto;
  z-index: 0; 
  padding-bottom: 30px;
}

.recommended-programs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 25px;
}

.programs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.programs h2 {
  font-size: 1.2rem;
  margin-left: 6px;
}

.other-programs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 380px;
  border: none;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 12px;
  background-color: #fff;
  color: #000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.program-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.program-details {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 10px;
  margin-left: 2px;
}

.program-title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0;
}

.program-description {
  font-size: 0.9rem;
}

.book-img {
  align-self: center;
  height: 80px;
  width: 80px;
  object-fit: cover; 
  overflow: hidden;
  padding: 0;
}

/* Search Input CSS */ 

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  z-index: 10;
  height: 50px;
  position: relative;
  padding-top: 0.5em;
}

.search-input {
  height: 26px;
  width: 200px;
  margin-top: 8px;
}

.search-icon {
  height: 28px;
  width: 50px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 80%;
  right: 0;
  z-index: 1; 
  background-color: white; 
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

/* BUTTON */ 

.checkbox-wrapper-51 {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}


.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #47a86f;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154,153,153,0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #2d3950;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

/* dark mode button blabla */

.home-container.dark-mode {
  background-image: url('HOME PAGE BGZ.png');
}

.introduction-section.dark-mode {
  background-color: #181c24;
  box-shadow: 0px 5px 15px rgba(62, 114, 128, 0.1);
}

.introduction-section:hover.dark-mode {
  background-color: #28292e;
}

.search-icon.dark-mode {
  color: #fff;
  background-color: #fff;
}

/* di ko alam paganahin */ 
.program-card.dark-mode {
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
  background-color: #28292e;
  color: #ffff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .search-results {
    left: 0;
  }
}

@media screen and (max-width: 915px) {
  .introduction-section {
    height: 215px;
    margin: 0;
  }

  .introduction-section h1 {
    font-size: 1.3rem;
  }

  .introduction-section h4 {
    font-size: 1.1rem;
  }

  .program-card {
    height: 160px;
    width: 300px;
  }
}


@media screen and (max-width: 838px) {
  .introduction-section {
    height: 200px;
  }

  .welcome-greetings {
    margin-left: 60px;
  }

  .introduction-section h1 {
    font-size: 1.3rem;
  }

  .introduction-section h4 {
    font-size: 0.8rem;
  }

  .program-card {
    height: 120px;
    width: 280px;
  }

  .program-title {
    font-size: 0.9rem;
  }
  
  .program-description {
    font-size: 0.6rem;
  }
  
  .programs h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .welcome-greetings {
    margin-left: 50px;
  }

  .recommended-programs {
    margin-left: 0;
  }

  .program-card {
    height: 130px;
    width: 250px;
  }

  .program-title {
    font-size: 0.9rem;
  }
  
  .program-description {
    font-size: 0.7rem;
  }

  .programs h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 542px) {
  .introduction-section {
    height: 180px;
  }

  .welcome-greetings {
    margin-left: 40px;
  }

  .introduction-section h1 {
    font-size: 1.2rem;
  }

  .introduction-section h4 {
    font-size: 0.6rem;
  }

  .program-card {
    height: 120px;
    width: 220px;
  }

  .program-title {
    font-size: 0.8rem;
  }
  
  .program-description {
    font-size: 0.6rem;
  }

  .programs h2 {
    font-size: 1rem;
  }

  .search-input {
    height: 26px;
    width: 140px;
  }
  
  .search-icon {
    height: 22px;
    width: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .program-card {
    height: 100px;
    width: 210px;
  }

  .program-title {
    font-size: 0.7rem;
  }
  
  .program-description {
    font-size: 0.5rem;
  }

  .programs h2 {
    font-size: 0.9rem;
  }

  .book-img {
    height:60px; 
    width: 60px;
  }
}

@media screen and (max-width: 465px) {
  .introduction-section {
    height: 160px;
  }

  .introduction-section h1 {
    font-size: 1rem;
  }

  .introduction-section h4 {
    font-size: 0.5rem;
  }

  .program-card {
    height: 115px;
    width: 195px;
  }

  .program-title {
    font-size: 0.8rem;
  }
  
  .program-description {
    font-size: 0.6rem;
  }

  .programs h2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 436px) {
  .introduction-section {
    height: 150px;
  }

  .introduction-section h1 {
    font-size: 1rem;
  }

  .introduction-section h4 {
    font-size: 0.5rem;
  }

  .program-card {
    height: 90px;
    width: 175px;
  }

  .program-title {
    font-size: 0.6rem;
  }
  
  .program-description {
    font-size: 0.4rem;
  }
  
  .book-img {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 402px) {
  .program-card {
    height: 80px;
    width: 165px;
  }

  .program-title {
    font-size: 0.6rem;
  }
  
  .program-description {
    font-size: 0.4rem;
  }
  
  .book-img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 380px) {
  .program-card {
    height: 75px;
    width: 160px;
  }

  .program-title {
    font-size: 0.6rem;
  }
  
  .program-description {
    font-size: 0.4rem;
  }
  
  .book-img {
    height: 50px;
    width: 50px;
  }

  @media screen and (max-width: 368px) {
    .program-card {
      height: 75px;
      width: 155px;
    }
  
    .program-title {
      font-size: 0.5rem;
    }
    
    .program-description {
      font-size: 0.4rem;
    }
    
    .book-img {
      height: 50px;
      width: 50px;
    }
  }
}
