.home-container {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.introduction-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4E7133;
  height: 230px;
  margin: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.introduction-section:hover {
  background-color: #0C359E;
}

.welcome-greetings {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.introduction-section h1 {
  font-weight: 900;
  margin: 0;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  position: relative;
}



/* Library Section CSS */

.library-section {
  max-height: 750px;
  position: relative; 
  overflow-y: auto;
  z-index: 0; 
  padding-bottom: 30px;
}

.recommended-programs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 25px;
}

.programs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.programs h2 {
  font-size: 1.2rem;
}

.other-programs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 165px;
  width: 400px;
  border: none;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.program-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.program-details {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 10px;
  margin-left: 2px;
}

.program-title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0;
}

.program-description {
  font-size: 0.9rem;
}

.book-img {
  align-self: center;
  height: 80px;
  width: 80px;
  object-fit: cover; 
  overflow: hidden;
  padding: 0;
}


/* Search Input CSS */ 

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  z-index: 10;
  height: 50px;
  position: relative;
}

.search-input {
  height: 26px;
  width: 200px;
  margin-top: 10px;
}

.search-icon {
  height: 26px;
  width: 50px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 80%;
  right: 0;
  z-index: 1; 
  background-color: white; 
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}


@media screen and (max-width: 838px) {
  .program-card {
    height: 150px;
    width: 300px;
  }
}

@media screen and (max-width: 640px) {
  .program-card {
    height: 130px;
    width: 250px;
  }

  .program-title {
    font-size: 1rem;
  }
  
  .program-description {
    font-size: 0.7rem;
  }
}