@import "react-pdf/dist/esm/Page/TextLayer.css";
@import "react-pdf/dist/esm/Page/AnnotationLayer.css";

.learning-materials-container {
  height: 100%;
  min-width: 100%;
  font-family: 'Lexend';
}

.learning-materials-container header {
  display: flex;
  flex-direction: row;
  height: 130px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #4E7133;
  min-width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.learning-materials-container header:hover{
  background-color: #0C359E;
}

header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
}

.header-content h1 {
  font-size: 1.7rem;
  margin-left: 10px;
}

.materials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.material {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  text-align: center;
  height: 275px;
  width: 180px;
  margin: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}

.bookmark-icon {
  position: absolute;
  top: 1%;
  right: 1%;
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.bookmark-icon.bookmarked {
  color: black;
  border: 1px solid black;
}

.material-title {
  height: 40px;
  width: 100%;
  font-size: auto;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
}

.material-author {
  height: 30px;
  width: 100%;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.material:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.underline {
  height: 5px;
  min-width: 95%;
  border-top: 2px solid #17171754;
  margin-bottom: 15px;
}

.pdf-container {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.pdf-button {
  padding: 10px 10px; 
  font-size: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pdf-button:hover {
  background-color: #0f36e4;
}

.react-pdf__Page {
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid #ccc;
  margin: 0;
}

.react-pdf__Page__canvas {
  max-height: 60%;
  max-width: 130%;
}

.react-pdf__message {
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  color: #888;
}

.react-pdf__Page__textContent {
  user-select: auto;
  display: block;
}

.react-pdf__Page__annotations {
  display: none;
}

.react-pdf__Page__textContent .textLayer {
  pointer-events: auto;
  user-select: auto;
  z-index: 100;
}


.pdf-viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.pdf-viewer {
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  max-width: 60%;
  height: 100%;
}

.pdf-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  min-width: 500px;
  z-index: 10;
}

.pdf-toolbar button, 
.set-page-toolbar button {
  padding: 8px 13px;
  margin: 0 5px;
  font-size: 13px;
  background-color: #4E7133;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pdf-toolbar button:hover,
.set-page-toolbar button:hover {
  background-color: #0C359E;
}

.set-page-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  max-width: 100%;
}

.set-page-toolbar input[type="number"] {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.set-page-toolbar input[type="number"] {
  input[type="number"]:focus {
  outline: none;
  border-color: #0C359E;
}
}

.note-taker {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.note-taker.show {
  display: block;
}

.note-taker textarea {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  resize: none;
}

.note-taker button {
  padding: 5px 10px;
  background-color: #4E7133;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.note-taker .close-button {
  padding: 5px 10px;
  background-color: #4E7133;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%;
}

@media only screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 1.5rem;
    margin-left: 10px;
  }

  header .header-content {
    margin-left: 60px;
  }
  
  .pdf-viewer {
    max-width: 90%;
  }

  .pdf-toolbar button, 
  .set-page-toolbar button {
    padding: 8px 13px;
    margin: 0 5px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 683px) {
  header .header-content {
    margin-left: 20px;
  }

  .header-content h1 {
    font-size: 1.4rem;
    margin-left: 10px;
  }
  
  .material {
    height: 265px;
    width: 160px;
    margin: 20px;
  }

  .pdf-viewer {
    max-width: 90%;
  }

  .pdf-toolbar button, 
  .set-page-toolbar button {
    padding: 8px 13px;
    margin: 0 5px;
    font-size: 10px;
  }
}

@media only sceen and (max-width: 610px) { 

  .header-content h1 {
    font-size: 1.2rem;
    margin-left: 5px;
  }

}


@media only screen and (max-width: 480px) {
  .header-content h1 {
    font-size: 1rem;
    margin-left: 5px;
  }

  .material {
    height: 255px;
    width: 150px;
  }

  .material-title {
    font-size: 0.7;
  }
  
  .material-author {
    font-size: 0.5;
  }

  .pdf-viewer {
    max-width: 95%;
  }

  .pdf-toolbar,
  .set-page-toolbar {
    min-width: 90%;
    margin: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .header-content h1 {
    font-size: 1rem;
    margin-left: 5px;
  }

  .material {
    height: 250px;
    width: 145px;
    margin: 10px;
  }
}

